In [1]:
import pandas as pd
import numpy as np
import time
import ciso8601

In [2]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
  sys.path.append(module_path)

In [3]:
from constants import SUBMISSION_TIME, START_TIME, END_TIME, JOB_TYPE, SOURCE, SERVER_TYPE, LOCATION, NAMES

In [4]:
TIME_SLOT_LENGTH = 10 * 60

In [5]:
def safe_parse_date(x: any) -> float:
  try:
    return time.mktime(ciso8601.parse_datetime(str(x)).timetuple())
  except:
    return np.NaN

# Mustang

In [6]:
mustang = pd.read_csv('in/mustang_release_v1.0beta.csv', delimiter=',')

In [7]:
mustang[SUBMISSION_TIME] = mustang['submit_time'].apply(lambda x: safe_parse_date(x))
mustang[START_TIME] = mustang['start_time'].apply(lambda x: safe_parse_date(x))
mustang[END_TIME] = mustang['end_time'].apply(lambda x: safe_parse_date(x))
mustang[JOB_TYPE] = 0
mustang[SOURCE] = 0
mustang[SERVER_TYPE] = 0
mustang[LOCATION] = 0

In [8]:
mustang = mustang[NAMES + ['node_count']].dropna(axis='rows')

In [9]:
mustang = mustang.sort_values(by=SUBMISSION_TIME)

Select jobs that are processed within one time slot.

In [69]:
# mustang = mustang[mustang[END_TIME] - mustang[START_TIME] <= TIME_SLOT_LENGTH]

,submission_time,start_time,end_time,job_type,source,server_type,location
0,1.319705e+09,1.319709e+09,1.319709e+09,0,0,0,0
1,1.319709e+09,1.319709e+09,1.319709e+09,0,0,0,0
2,1.319710e+09,1.319710e+09,1.319710e+09,0,0,0,0
3,1.319710e+09,1.319710e+09,1.319710e+09,0,0,0,0
4,1.319710e+09,1.319710e+09,1.319710e+09,0,0,0,0
...,...,...,...,...,...,...,...
2113168,1.478576e+09,1.478576e+09,1.478576e+09,0,0,0,0
2113171,1.478564e+09,1.478564e+09,1.478583e+09,0,0,0,0
2113172,1.478447e+09,1.478544e+09,1.478585e+09,0,0,0,0
2113173,1.478394e+09,1.478544e+09,1.478585e+09,0,0,0,0
2113174,1.478536e+09,1.478546e+09,1.478585e+09,0,0,0,0

Repeat jobs once for each node they were assigned to.

In [10]:
raw_mustang = mustang.loc[mustang.index.repeat(mustang['node_count'])]

In [11]:
raw_mustang[NAMES].to_csv('out/mustang.csv', index=False)

# Trinity

In [88]:
trinity = pd.read_csv('in/trinity_formatted_release_v1.0beta.csv', delimiter=',')

In [89]:
trinity[SUBMISSION_TIME] = trinity['submit_time'].apply(lambda x: safe_parse_date(x))
trinity[START_TIME] = trinity['start_time'].apply(lambda x: safe_parse_date(x))
trinity[END_TIME] = trinity['end_time'].apply(lambda x: safe_parse_date(x))
trinity[JOB_TYPE] = 0
trinity[SOURCE] = 0
trinity[SERVER_TYPE] = 0
trinity[LOCATION] = 0

In [90]:
trinity = trinity[NAMES + ['node_count']].dropna(axis='rows')

In [ ]:
trinity = trinity.sort_values(by=SUBMISSION_TIME)

Repeat jobs once for each node they were assigned to.

In [91]:
raw_trinity = trinity.loc[trinity.index.repeat(trinity['node_count'])]

In [92]:
raw_trinity[NAMES].to_csv('out/trinity.csv', index=False)